**/BionicERP.Application/obj/
**/BionicERP.Api/obj/
**/BionicERP.Persistence/obj/
**/BionicERP.Infrastructure/obj/
**/BionicERP.Commons/obj/
**/BionicERP.Domain/obj/
**/BionicERP.Application.Test/obj/
**/BionicERP.Api.Test/obj/
**/BionicERP.Persistence.Test/obj/
**/BionicERP.Infrastructure.Test/obj/
**/BionicERP.Commons.Test/obj/
**/BionicERP.Domain.Test/obj/
**/BionicERP.Migration/obj/
**/node_modules/
**/BionicERP.Application/bin/
**/BionicERP.Api/bin/
**/BionicERP.Persistence/bin/
**/BionicERP.Infrastructure/bin/
**/BionicERP.Commons/bin/
**/BionicERP.Domain/bin/
**/BionicERP.Application.Test/bin/
**/BionicERP.Api.Test/bin/
**/BionicERP.Persistence.Test/bin/
**/BionicERP.Infrastructure.Test/bin/
**/BionicERP.Commons.Test/bin/
**/BionicERP.Domain.Test/bin/
.vscode/

